body,p,blockquote{margin:0;padding:0;}a img,iframe{border:none;}h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:100%;}ul,ol,dl,li,dt,dd{margin:0;padding:0;}a,a:link{}a:visited{}a:hover{}a:active{}form,fieldset{margin:0;padding:0;}fieldset{border:1px solid #000;}legend{padding:0;color:#000;}input,textarea,select{margin:0;padding:1px;font-size:100%;font-family:inherit;}select{padding:0;}
